@{
    ViewData["Title"] = "Galt Vestivulares";

}
@*Carrosel*@
<section>
    <div id="carrossel">
        <div id="slides">
            <ul>
                <li><a href="#"><img alt="Img 1" src="~/images/image1.jpg" /></a></li>
                <li><a href="#"><img alt="Img 2" src="~/images/image2.jpg" /></a></li>
                <li><a href="#"><img alt="Img 3" src="~/images/image3.png" /></a></li>
            </ul>
        </div>
        <div id="buttons">
            <a id="prev" href="#">prev</a>
            <a id="next" href="#">next</a>
        </div>
    </div>
</section>

<section>
    <h2>
        Galt Vestibulares - Cursinho solidário
    </h2>

    <p>
        Aqui vai o carrosel com alguma notícias mais importantes
    </p>
    <hr />
    <p>
        Aqui vai a área de apresentação básica do cursinho
    </p>
    <hr />
    <p>
        Aqui vai as depo do antigos alunos
    </p>
    <hr />
    <p>
        Aqui vai algumas notícicas mais novas que vai ter um link para uma página só de notícias
    </p>
</section>