body {
    padding-top: 45px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.corNavBar {
    margin-right: 2%;
    margin-left: 14%;
    background-color: white;
}
/* Carousel */
#carousel {
    width: 255px;
    height: 290px;
    margin: 0 auto;
}

#slides {
    overflow: hidden;
    position: relative;
    width: 1540px;
    height: 350px;
    margin-left: -200px;
    border: 1px solid #ccc;
}

    #slides ul {
        position: relative;
        left: 0;
        top: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 750px;
    }

    #slides li {
        width: 250px;
        height: 1000px;
    float: left;
}

#slides li img {
     padding: 5px;
     width: 240px;
     height: 240px;
     opacity: 0.8;
}

#slides li img:hover {
    padding: 5px;
    width: 240px;
    height: 240px;
    opacity: 1;
}
/*localização itens nav*/

.locitensnav{
    margin-left: -20%;
}

.corBot{
   color: black !important;
}
/*localização logo*/
.locLogo{
    margin-left:0.5% !important;
    margin-top:-1.5% !important;
}

/*Cor botão navbar*/
.corBot li a{
    color: black !important;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
